
.master{

background: url('https://images.unsplash.com/photo-1561024172-0ae2ebd65018?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80') no-repeat center center;
    background-size: contain;
    background-size: cover;
    padding-top: 20rem;
    padding-bottom: 20rem;
    background-color: #343a40;
    border-radius: 6px;
    width: auto;
    height: 400px;

}

.master .lead {

    font-size: 63px;
    font-weight: bolder;

}

.master .lead2 {
    margin-bottom: 20px;
        font-size: 21px;
        font-weight: 300;
        line-height: 1.4;
}


/*form 꾸미기*/

#register-form{
padding-top: 100px;
padding-bottom: 10rem;
    }

/*table */

table {
        width: 100%;
      }

td {
padding: 5px;
            }

.table-title{
border-bottom: solid 1px #adb5bd;
padding-bottom: 5px;
color:#323232;

}



